
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    
    padding: 30px;
    
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(163, 163, 163, 0.856), rgba(54, 54, 54, 0.856)), url(../background/IMG_0760.png);
    background-size: cover;
    position: relative;

}

.name-box {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

.name {
    display: block;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 10px;
    color: rgb(63, 63, 63);
}

.emaillink {
    float: left;
}

.gitlink {
    float: right;
}

.title-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: white;
    text-transform: uppercase;

}

.heading-primary-main {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}

.project-box {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    
}

/* Clearfix (clear floats) */
.project-box::after {
    content: "";
    clear: both;
    display: table;
  }

.box {
    margin: 25px;
    padding: 10px;
    background-color: rgba(25, 77, 126, 0.616);
    float: left;
    border-radius: 10px;
    width: 270px;
    height: 350px;
}

.pic {
    border-radius: 5px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

  .github {
    float: left;
    font-weight: bold;
  }

  .webs {
    float: right;
    font-weight: bold;
  }

  .webs:hover, .github:hover {
      background-color: lightskyblue;
      border-radius: 5px;
  }

  .info {
      text-align: center;
  }

.box:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* Phones */ 



/* Tablet */

@media screen and (max-width: 1024px) {
    .header {
        background-image: linear-gradient(to right bottom, rgba(163, 163, 163, 0.801), rgba(54, 54, 54, 0.801)), url(../background/IMG_0760.png);
        min-height: 1200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

    .name-box {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
    }
    
    .name {
        display: block;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 10px;
        
    }

    .title-box {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(-50%,);
    }
    
    .heading-primary {
        text-transform: uppercase;
    
    }
    
    .heading-primary-main {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 5px;
    }

   

   .project-box {
        position: absolute;

        top: 220px;
        left: 50%;
        transform: translate(-50%);
        width: fit-content;
   }

   .box {
        margin: 25px;
        padding: 10px;
        border: 5px bold black;
        float: left;
        border-radius: 10px;
        width: 270px;
   

}

   
}


/* Phones */

@media screen and (max-width: 736px) {
    .name-box {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
    }
    
    .name {
        display: block;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 0px;
       
    }

    .github {
        float: center;
      }
    
      .webs {
        float: center;
      }

    .title-box {
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%);
    }
    
    .heading-primary {
        text-transform: uppercase;
        
    }
    
    .heading-primary-main {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0px;
    }

   

   .project-box {
        position: absolute;
        top: 240px;
        left: 50%;
        transform: translate(-50%);
        width: fit-content;
   }

   .box {
        margin: 25px;
        padding: 10px;
        border: 5px bold black;
        float: left;
        border-radius: 10px;
        width: 270px;
   

}

    .header {
        background-image: linear-gradient(to right bottom, rgba(163, 163, 163, 0.801), rgba(54, 54, 54, 0.801)), url(../background/IMG_0760.png);
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    

    
}